.product-list {
    width: 30%;
}

table tr td i {
    font-size: 12px;
}

.product-list-top table tr button:hover {
    background-color: #DC3545;
}
.product-list-bot{
    justify-content: end !important;
}
.update-product-section{
    position: relative;
}
.popup-delete {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
}
.popup-delete .content{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: aliceblue;
    width: 300px;
    transform: translate(-50%,-50%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.popup-delete .content div{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.popup-delete .content .header{
    background-color: #dc3545;
    color: white;
    text-transform: uppercase;
    padding: 10px;
}
.popup-delete .content .body{
    padding: 20px;
    min-height: 150px;
    line-height: 120px;
    border-bottom: 1px solid black;
}
.popup-delete .content div button{
    width: 50%;
    border-radius: 0 ;
}
.popup-delete .content div button:first-of-type{
    border-radius: 0;
    border-right: 1px solid black;
}
