* {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}

body {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    width: 100%;
    padding: 10px 0px;
    background-color: #F2EFE5;
}

.cs-container-90 {
    width: 90%;
    margin: 0 auto;
    background-color: #E3E1D9;
    padding: 25px;
    border-radius: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.header .nav-item{
    display: flex;
    align-items: center;
}

.header .nav-link {
    color: black;
    text-transform: uppercase;
    font-weight: 700;
}
.header .nav-link.active,.header .nav-link:hover {
    color: #739552;
}
.header .nav-link img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: .5s;
}

.header .nav-link:hover img {
    animation: rotate 2s infinite;
}

@keyframes rotate {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

.toasts {
    position: fixed;
    left: 5vw;
    bottom: 5vh;
    z-index: 10;
    width: auto;
    padding: 0.5rem 1rem;
    border-radius: 30px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    display: none;
  }
  
  .toasts-success {
    background-color: #1a6634;
    color: #fff;
  }
  
  .toasts-fail {
    background-color: #FD7676;
    color: #fff;
  }
  
  .toasts p {
    margin: 0;
  }
  
  .show {
    display: block;
  }
  ::-webkit-scrollbar {
    z-index: 2;
    width: 5px;
    height: 5px;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #008000;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #008000;
  }